
body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

blockquote {
    display: block;
    background-color:#E6E6E6;
}

.centered {
    text-align: center;
}


.loading {
	width:100%;
	text-align:center;
	margin-top: 300px;
}

.key{
	display: block;
	color: #ad2b2b;
	font: bold 9pt arial;
	text-decoration: none;
	text-align: center;
	width: 40px;
	height: 40px;
	margin: 5px;
	background: #eff0f2;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-top: 1px solid #f5f5f5;
	-webkit-box-shadow:
		inset 0 0 25px #e8e8e8,
		0 1px 0 #c3c3c3,
		0 2px 0 #c9c9c9,
		0 2px 3px #333;
	-moz-box-shadow:
		inset 0 0 25px #e8e8e8,
		0 1px 0 #c3c3c3,
		0 2px 0 #c9c9c9,
		0 2px 3px #333;
	box-shadow:
		inset 0 0 25px #e8e8e8,
		0 1px 0 #c3c3c3,
		0 2px 0 #c9c9c9,
		0 2px 3px #333;
	text-shadow: 0px 1px 0px #f5f5f5;}

.key:active, .keydown {
	color: #888;
	background: #ebeced;
	margin: 7px 5px 3px;
	-webkit-box-shadow:
		inset 0 0 25px #ddd,
		0 0 3px #333;
	-moz-box-shadow:
		inset 0 0 25px #ddd,
		0 0 3px #333;
	box-shadow:
		inset 0 0 25px #ddd,
		0 0 3px #333;
	border-top: 1px solid #eee;}

.not_active {
    color: #888;
    background: #ebeced;
    margin: 5px;
    -webkit-box-shadow:
      inset 0 0 25px #ddd,
      0 0 3px #333;
    -moz-box-shadow:
      inset 0 0 25px #ddd,
      0 0 3px #333;
    box-shadow:
      inset 0 0 25px #ddd,
      0 0 3px #333;
    border-top: 1px solid #eee;
    pointer-events: none;
    cursor: default;
}


.Span {
  text-decoration: none;
  display: inline-flex;
  min-width: 10px;
  outline: 0;
}

.Mine {
  color: #c0392b;
  margin-top: -8px;
}

.Numbers {
  border-style: inset;
  color: #3bc492;
}

.Unrevealed {
  color: #555;
}

/* Headers in about page */
#headerAbout {
    font-family: "Raleway";
    font-weight: 300;
    color: #ad2b2b;
}

/* Minesweeper field */
#minesweeperField {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

/* Minesweeper cells */
#minesweeperCell {
    text-decoration: none;
    outline: 0;
    color: #c0392b;
    word-wrap: break-word;
    font-size: 20px;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

#minesweeperCell :hover {
  text-decoration: none;
  outline: 0;
}
#minesweeperCell :focus {
    text-decoration: none;
    outline: 0;
}

#minesweeperCell :before,
#minesweeperCell :after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

#content-wrap{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 25%;
    margin-left: 25%;
    background-color: #f2f2f2;
}

#qwerty li a span {
	display: block;
	margin: 13px 0 0;
	text-transform: uppercase;}

/* Titles */
#minesweeperHeader {
  text-shadow: 0 0 5px #ddd, 0 0 10px #ddd,
             0 0 20px #ddd, 0 0 30px #ddd,
             0 0 40px #ddd;
  font-family: "Raleway";
  font-weight: 100;
  font-size: 80px;
  text-align: center;
  color: #ad2b2b;
}

/* Copyright Wrap */
#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;
}

#backgroundBody {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
