<!DOCTYPE HTML>
<html>
  <head>
    <title>Minesweeper</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  </head>
  <body>
    <div id="content-wrap">
    <h1 align=center>Minesweeper</h1>
    <blockquote cite="https://de.wikipedia.org/wiki/Minesweeper">
      Minesweeper ist ein zunächst simples, dem Betriebssystem Microsoft Windows bis einschließlich der Version Windows 7 beigelegtes Computerspiel,
      bei dem der Spieler durch logisches Denken herausfinden muss, hinter welchen Feldern Minen versteckt sind. Als zusätzliche Herausforderung läuft eine Stoppuhr.
      Das Ziel ist, möglichst schnell alle Felder aufzudecken, hinter welchen keine Minen verborgen sind.<a href="https://de.wikipedia.org/wiki/Minesweeper">1</a>
    </blockquote>
    <h2>Ziel des Spiels</h2>
    Ziel des Spiels ist es, die leeren Quadrate aufzudecken und dabei diejenigen
    Quadrate zu meiden, hinter denen sich Minen verstecken. Je schneller Sie die leeren
    Quadrate aufdecken, desto höher Ihre Punktzahl.
    <h2>Das Spielfeld</h2>
    Sie können bei Minesweeper unter drei
    Standardspielfeldern mit unterschiedlicher Schwierigkeitsstufe wählen.
    <ul>
      <li>
        <b>Small</b>: 81 Quadrate, 10 Minen
      </li>
      <li>
        <b>Medium</b>: 256 Quadrate, 40 Minen
      </li>
      <li>
        <b>Large</b>: 480 Quadrate, 99 Minen
      </li>
    </ul>
    <h2>Spileweise</h2>
    Die Minesweeper-Regeln sind einfach:
    <ul>
      <li>
        Das Spiel ist beendet, wenn eine Mine aufgedeckt wird.
      </li>
      <li>
        Das Spiel wird fortgesetzt, wenn Sie ein leeres Quadrat aufdecken.
      </li>
      <li>
        Wird beim Aufdecken eines Quadrats eine Zahl angezeigt, steht diese für die Anzahl der Minen, die in den benachbarten acht Quadraten verborgen sind. Anhand dieser Angabe kann abgeleitet werden, unter welchen der angrenzenden Quadrate sich Minen befinden und auf welche Quadrate gefahrlos geklickt werden kann.
      </li>
    </ul>
    </div>
  </body>
</html>
