<!DOCTYPE HTML>
<html>
  <head>
    <title>Minesweeper</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/minesweeper_icon.png")">
  </head>
  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img alt="Brand" height="20" width="20" src="@routes.Assets.versioned("images/minesweeper_icon.png")"></a>
        <a class="navbar-brand" href="/">Minesweeper</a>
      </div>
    </div>
  </nav>
<center>
<h2>Authors</h2>
We study at the University of Applied Sciences 'Hochschule Konstanz (HTWG)'. This is our university project for the Web Engineering course.
<div>
  <table class="table table-hover">
    <tr>
      <th>Pavel Kravetskiy</th>
      <th>Dominik Hahn</th>
    </tr>
    <tr>
        <td><a href="mailto:pavkrave@@htwg-konstanz.de?subject=MinesweeperWeb_feedback">pavkrave@@htwg-konstanz.de</a></td>
        <td><a href="mailto:dohahn@@htwg-konstanz.de?subject=MinesweeperWeb_feedback">dohahn@@htwg-konstanz.de</a></td>
    </tr>
    <tr>
        <td><a href="https://github.com/pkravetskiy">https://github.com/pkravetskiy</a></td>
        <td><a href="https://github.com/dohahnhtwg">https://github.com/dohahnhtwg</a></td>
    </tr>
    <tr>
        <td></td><td></td>
    </tr>

</table>
</div>
</center>
  </body>
</html>
