@(message: String, controller:de.htwg.se.controller.IController)

@main("Minesweeper") {
  <center><h1>Minesweeper</h1>
    <ul>
    @for(line <- 1 until controller.getPlayingField.getLines){
      <li>
      @for(col <- 1 until controller.getPlayingField.getColumns){
        <a href="/command/cell?cell=0@line-0@col">@controller.getPlayingField().getCell(line, col)</a>
      }
      </li>
    }
    </ul>
  <p>
    @message
  </p>
  <br />
<div class="row">
  <div class="col-­‐md-­‐4">
  <form action="/command/cell" method="get" >
      <div class="input-group">
        <input type="text" name="cell" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
  </form><br />
    </div>
</div>

  <a href="/about">About Minesweeper</a>
}
