@(message: String, controller:de.htwg.se.controller.IController)

@main("Minesweeper") {

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img alt="Brand" height="20" width="20" src="@routes.Assets.versioned("images/minesweeper_icon.png")"></a>
        <a class="navbar-brand" href="/">Minesweeper</a>
      </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New Game<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/command/cell?cell=n">Restart</a></li>
            <li><a href="/command/cell?cell=sS">Small</a></li>
            <li><a href="/command/cell?cell=sM">Medium</a></li>
            <li><a href="/command/cell?cell=sL">Large</a></li>
          </ul>
        </li>
        <li><a href="/command/cell?cell=u">Undo</a></li>
        <li><a href="/command/cell?cell=r">Redo</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>


  <center>
    <h1>Minesweeper</h1>
    <ul id="qwerty" style="list-style-type:none">
        @if(controller.isGameOver()) {<script>alert('Game Over!')</script>}
        @if(controller.isVictory()) {<script>alert('Victory!')</script>}

    @for(line <- 1 until controller.getPlayingField.getLines){
      <li>
      @for(col <- 1 until controller.getPlayingField.getColumns){
          @{val value = controller.getPlayingField().getCell(line, col);}
        <span class="Span">
        @if(line < 10 && col < 10){
          <a class="key" href="/command/cell?cell=0@line-0@col"><span id="@line-@col"></span></a>
        } else {
          @if(line < 10 && col >= 10) {
            <a class="key" href="/command/cell?cell=0@line-@col"><span id="@line-@col"></span></a>
          } else {
            @if(line >= 10 && col < 10) {
              <a class="key" href="/command/cell?cell=@line-0@col"><span id="@line-@col"></span></a>
            } else {
              <a class="key" href="/command/cell?cell=@line-@col"><span id="@line-@col"></span></a>
            }
          }
        }
        </span>
      }
      </li>
    }
    </ul>
  <p>
    @message
  </p>
</center>
  <nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/license">License</a></li>
      <li><a target="_blank" href="https://github.com/pkravetskiy/WS1516_MinesweeperWeb">Github</a></li>
      <li><a href="/authors">Authors</a></li>
    </ul>
  </div>
</nav>
}
