@(message: String, controller:de.htwg.se.controller.IController, loginStatus : String)
@import java.math.BigInteger;val lines=controller.getPlayingField.getLines;val cols=controller.getPlayingField.getColumns;
@main("Minesweeper") {
<!--Sceipt region-->
<script language="JavaScript">
  //Create a new socket
  $(function() {
    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
    sock = new WS("@routes.Application.sockHandler().webSocketURL(request)");
  });

  //Function for Minesweeper buttons
  function sendClick(row,column) {
    if (row < 10 && column < 10) {
      sock.send("0" + row + "-0" + column);
    } else if (row < 10 && column >= 10) {
      sock.send("0" + row + "-" + column);
    } else if (row >= 10 && column < 10) {
      sock.send(row + "-0" + column);
    } else {
      sock.send(row + "-" + column);
    }
  }

  //Function for Navbar
  function sendNav(command) {
    if (command != 'u' || command != 'r')
      setCookie('modal_shown', '0');
      removeFlags();
    sock.send(command);
  }
</script>

<!-- End of the game modal dialog -->
<div class="modal fade" id="game_end" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" id="header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h1 id="result"></h1>
      </div>
      <div class="modal-body">
        <div class="row" style="text-align: center">
          <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">Tries</div>
              <div class="panel-body" id="tries">0</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-success">
              <div class="panel-heading">Wins</div>
              <div class="panel-body" id="wins">0</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-danger">
              <div class="panel-heading">Loses</div>
              <div class="panel-body" id="loses">0</div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="restart" onclick="window.location.reload(); sendNav('n');">Restart</button>
      </div>
    </div>
  </div>
</div>

<!--Upper navbar-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img alt="Brand" height="20" width="20" src="@routes.Assets.at("images/minesweepericon.png")"></a>
      <a class="navbar-brand" href="/">Minesweeper</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New Game<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/index" onclick="sendNav('n')">Restart</a></li>
            <li><a href="/index" onclick="sendNav('sS')">Small</a></li>
            <li><a href="/index" onclick="sendNav('sM')">Medium</a></li>
            <li><a href="/index" onclick="sendNav('sL')">Large</a></li>
          </ul>
        </li>
        <li><a href="/index" onclick="sendNav('u')">Undo</a></li>
        <li><a href="/index" onclick="sendNav('r')">Redo</a></li>
        <li><a href="#" onclick="statistic();">Statistic</a></li>
        <li><a href="/">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><div style="font-size: 20px; margin: 13px 0 0;">@loginStatus</div></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--Content-->
<div>
  <div id="minesweeperField">
    <h1 id="minesweeperHeader">&nbsp;&nbsp;Minesweeper</h1>
    <center>
    <ul id="qwerty" style="display: table-row; list-style-type:none">
      @if(controller.isGameOver()) {<script>result('You lose')</script>}
      @if(controller.isVictory()) {<script>result('You win!')</script>}
      @for(line <- 1 until lines + 1) {
      <li>
        <div style="white-space: nowrap;">
          @for(col <- 1 until cols + 1){
          <span class="Span">
            <a id="minesweeperCell" name="buttons" href="/index" onclick="sendClick(@line, @col)"
              @if(controller.getPlayingField.getCell(line, col).isRevealed) {
                class="key not_active"
              } else {
                class="key"
              }>
              <span class="Span" id="@line-@col">
                @if(!controller.getPlayingField.getCell(line, col).isRevealed) {
                    &nbsp;
                } else {
                  @if(controller.getPlayingField.getCell(line, col).getValue() == 0) {
                      &nbsp;
                  } else {
                    @if(controller.getPlayingField.getCell(line, col).getValue() == -1) {
                      <img class="Mine" align="middle" height="27" width="27" src="@routes.Assets.at("images/minesweepericon.png")">
                    } else {
                      @controller.getPlayingField.getCell(line, col).getValue()
                    }
                  }
                }
              </span>
            </a>
          </span>}
        </div>
      </li>}
    </ul>}
    </center>
  </div>
</div>

<!-- Lower navbar -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/license" >License</a></li>
      <li><a target="_blank" href="https://github.com/pkravetskiy/WS1516_MinesweeperWeb">Github</a></li>
      <li><a href="/authors">Authors</a></li>
    </ul>
  </div>
</nav>
