<!DOCTYPE HTML>
<html>
  <head>
    <title>Minesweeper</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  </head>
  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Minesweeper</a>
  </div>
    </div>
  </nav>
<center>
<h2>License</h2>

Minesweeper is free software: you can redistribute it and/or modify <br>
 it under the terms of the GNU General Public License as published by <br>
 the Free Software Foundation, either version 3 of the License, or<br>
 (at your option) any later version.<br>
 Minesweeper is distributed in the hope that it will be useful,<br>
 but WITHOUT ANY WARRANTY; without even the implied warranty of<br>
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the<br>
 GNU General Public License for more details.<br><br>

 You should have received a copy of the GNU General Public License<br>
 along with Minesweeper.  If not, see <http://www.gnu.org/licenses/>.
</center>
  </body>
</html>
